
{% extends "layout.html" %}

{% block content %}
<main
  class="w-screen h-screen flex flex-col items-center overflow-x-hidden overflow-y-auto p-16 bg-green-500"
>
  <span class="flex flex-col bg-green-50 p-8 gap-8 w-[min(450px,100%)] overflow-auto">
    <h1 class="text-6xl text-green-800">Logout confirmation</h1>
    <section class="flex flex-col bg-green-50 border border-green-300 p-4 gap-4">
      <div class="text-xl text-green-950">Successfully log out of <span class="text-green-400">Communicate</span></div>
      <fieldset class="w-full">
          <a href="{% url 'authentication:login' %}" class="w-full btn btn-success">Login again</a>
      </fieldset>
    </section>
</main>
{% endblock %}
