{% extends "layout.html" %} {% block content %}
<main class="w-screen flex flex-col overflow-x-hidden overflow-y-auto">
  <h1 class="p-4 text-6xl text-green-800">Latest</h1>
    
  <menu class="flex w-full p-4 border-b-2 border-green-950">
    <a
      href="{% url 'share:share_create' %}"
      class="btn"
    >
      Create
    </a>
  </menu>
  <section
    class="w-full grid gap-4 p-4 grid-cols-[repeat(auto-fill,minmax(240px,1fr))]"
  >
    {% for share in shares %}
    <div class="card rounded-sm glass shadow-sm flex flex-col w-full h-full">
      <figure class="h-44 overflow-hidden flex items-end justify-end">
        {% if share.cover_image %}
        <img class="" src="{{share.cover_image.url}}" alt="car!" />
        {% else %}
        <img src="" alt="No image provided" />
        {% endif %}
      </figure>
      <div class="card-body flex flex-col gap-2 p-4">
        <h2
          style="
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          "
          class="card-title text-gray-950 text-lg/6 h-[3rem] overflow-hidden"
        >
          {{share.title}}
        </h2>
        <p
          style="
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          "
          class="text-gray-800 text-sm/6 h-[6rem] overflow-hidden"
        >
          {{share.share_content}}
        </p>
        <div class="card-actions justify-end text-sm/6">
          {% if user == share.user %}
          <a
            href="{% url 'share:share_edit' share.id%}"
            class="btn btn-outline bg-green-200 border-green-300 text-green-900"
            >Edit</a
          >
          <a
            href="{% url 'share:share_delete' share.id%}"
            class="btn btn-outline border-none btn-error"
            >Delete</a
          >

          {% endif %}
        </div>
      </div>
    </div>

    {% endfor %}
  </section>
</main>
{% endblock %}
